<html>
    <head>
        <title>Message</title>
    </head>
    <body>
        <h1>Message Details</h1>
        <p><strong>User:</strong> <%= message.user %></p>
        <p><strong>Date:</strong> <%= message.added %></p>
        <p><strong>Text:</strong> <%= message.text %></p>
        <a href="/">Back to Message Board</a>
    </body>
</html>